<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;0,700;0,800;1,400;1,700;1,800&display=swap"
  rel="stylesheet">

<head>
  <style>
    /* CSS */
    body {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      padding: 10rem;
    }

    .top-ticket {
      -webkit-align-items: center;
      color: #fff;
      border-radius: 10px 10px 0px 0px;
      display: -webkit-flex;
      padding: 1rem;
      background-color: #5F2EEA;
      -webkit-justify-content: space-between;
    }

    .top-ticket h1 {
      margin: 1rem;
    }

    .content-ticket {
      padding: 1.5rem;
    }

    .list-schedule {
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
    }

    .space-list {
      margin-top: 16px;
      flex: 0 0 26%;
    }
  </style>
</head>

<body>

  <!-- Ticket -->
  <main>
    <div class="container">
      <div class="top-ticket">
        <!-- Top -->
        <div class="space-ticket-left">
          <h1>PayTix</h1>
        </div>

      </div>
      <div class="content-ticket">
        <!-- Content -->
        <div class="space-list">
          <p>Movie</p>
          <span><%= newDataBookingTicket.title %> </span>
        </div>
        <div class="list-schedule">
          <div class="space-list">
            <p>Date</p>
            <span><%= newDataBookingTicket.dateBooking %> </span>
          </div>
          <div class="space-list">
            <p>Time</p>
            <span><%= newDataBookingTicket.timeBooking %> </span>
          </div>
          <div class="space-list">
            <p>Count</p>
            <span><%= newDataBookingTicket.totalTicket %> </span>
          </div>

          <div class="space-list">
            <p>Seats</p>
            <span><%= newDataBookingTicket.seat %> </span>
          </div>
          <div class="space-list">
            <p>Price</p>
            <span><%= newDataBookingTicket.totalPayment %> </span>
          </div>
        </div>


      </div>
  </main>
</body>

</html>